@model TestShop.Application.Models.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Forgot your password?</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post" asp-action="ForgotPassword" novalidate="novalidate" asp-antiforgery="true">
            <h4>Enter your email.</h4>
            <hr>
            <div class="validation-summary-valid" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="forgotPasswordSubmit" type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </form>
    </div>
</div>