@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your password has been reset. To enter the application follow the <a asp-action="Login">link</a>.
</p>